.app.dark {
    --bg-color: #0d009b;
    --inverted-bg-color: #ffffff;

    // --primary-color: #5fff46;
    // --secondary-color: #f5ff3b;
    // --inverted-primary-color: #500bff;
    // --inverted-secondary-color: #0faf00;


    --inverted-primary-color: #0400eb;
    --inverted-secondary-color: #49d100 ;
    --primary-color: #5fff46;
    --secondary-color:#f5ff3b;
}