:root {
    --bg-color: #ffffff;
    --inverted-bg-color: #0d009b;

    --primary-color: #500bff;
    --secondary-color: #0faf00;
    --inverted-primary-color: #5fff46;
    --inverted-secondary-color: #f5ff3b;
}