:root {
    --bg-color: #ffffff;
    --inverted-bg-color: #0d009b;

    --primary-color: #0400eb;
    --secondary-color: #49d100 ;
    --inverted-primary-color: #5fff46;
    --inverted-secondary-color:#f5ff3b;
    // --inverted-primary-color: #fd00f9 ;
    // --inverted-secondary-color: #00fff7 ;
}